{% from "macros.html" import user_input_form -%}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Github timeline - Python - FastAPI</title>
    <style>
    {% include "_style.css" %}
    </style>
  </head>
  <body>
    <div class="App">
      <h1>Github Timeline</h1>
      {{ user_input_form() }}
      <div id="timeline"></div>
      <div id="load-more"></div>
      <footer>
        <a href="https://github.com/vlcinsky/python-fastapi-github-timeline">GitHub</a>
        <a href="https://github.com/rajasegar/cl-github-timeline">(forked from cl-github-timeline)</a>
      </footer>
    </div>
      <div id="goto-top"><a href="#">&uarr;</a></div>
    <script src="https://unpkg.com/htmx.org@1.5.0"></script>
    <script src="https://unpkg.com/hyperscript.org@0.8.1"></script>
  </body>
</html>
